:root {
  --brand-color: #212121;
  --theme-color: #2196f3;
  --pharagraph-color: #757575;
  --light-color: #ffffff;
  --background-color: #f5f4fa;
  --font-primary: 'Roboto', sans-serif;
  --font-second: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
header {
  background-color: var(--light-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--font-primary);
  color: var(--brand-color);
}
h3 {
  font-weight: 700;
  font-size: 18px;
  color: var(--brand-color);
  line-height: 2;
  letter-spacing: 0.06em;
}
p {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--pharagraph-color);
}
.logo,
.text .text2nd {
  font-weight: 700;
  font-family: var(--font-second);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--theme-color);
}
.text {
  color: var(--brand-color);
}
.text2nd {
  color: var(--light-color);
}
.link-nav,
.link-data {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.link-nav {
  color: var(--brand-color);
}
.link-data {
  color: var(--pharagraph-color);
}
.link-nav:hover,
.link-nav:focus,
.link-data:hover,
.link-data:focus {
  color: var(--theme-color);
}
.button-main {
  background-color: var(--background-color);
  border: none;
  color: var(--brand-color);
  text-align: center;
  font-family: var(--font-second);
}
.button-main:hover,
.button-main:focus {
  color: var(--light-color);
  background-color: var(--theme-color);
}
footer {
  background-color: #2f303a;
}
.link-maps,
.link-end {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.link-maps {
  color: var(--light-color);
}
.link-end {
  color: rgba(255, 255, 255, 0.6);
}
.link-maps:hover,
.link-maps:focus,
.link-end:hover,
.link-end:focus {
  color: var (--theme-color);
}
