* {
  margin: 0;
}
:root {
  --brand-color: #212121;
  --theme-color: #2196f3;
  --pharagraph-color: #757575;
  --light-color: #ffffff;
  --font-first: 14px;
  --font-second: 16px;
  --font-third: 18px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var (--brand-color);
}
h2 {
  font-weight: 700;
  font-size: var (--font-third);
  line-height: 2;
  letter-spacing: 0.06em;
}
p {
  font-weight: 400;
  font-size: var(--font-second);
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(pharagraph-color);
}
.accent,
.text {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: var (--theme-color);
}
.text {
  color: var(--brand-color);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--theme-color);
}
.link-end:hover,
.link-end:focus {
  color: var (--theme-color);
}
.link-data:hover,
.link-data:focus {
  color: var (--theme-color);
}
.link-nav {
  font-size: var(--font-first);
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var (--brand-color);
}
.link-data {
  font-size: var(--font-first);
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var (--pharagraph-color);
}
.button-main:hover,
.button-main:focus {
  color: var (--theme-color);
  background-color: var(--light-color);
}
.button-main {
  background-color: var(--theme-color);
  border: none;
  color: var(--light-color);
  text-align: center;
  font-size: var(--font-second);
  border-radius: 4px;
  width: 117px;
  height: 30px;
}
.link-end {
  font-weight: 400;
  font-size: var(--font-first);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
